<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" [%level] %logger{1} %method => %message" />
      </layout>
      <rootUrl value="https://logs-01.loggly.com/" />
      <inputKey value="53e63fa1-8b26-4485-bf0d-0e943754977d" />
      <tag value="log4net" />
    </appender>
  </log4net>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>